<app-header title="Products" subtitle="All the available products in our store" button="view-cart"></app-header>
<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <img class="card-img-top" src=".../100px200/" alt="Image">
        <p class="card-text">Description</p>
        <p class="card-text"><small class="text-muted">Price</small></p>
        <p class="card-text"><small class="text-muted">Stock</small></p>
        <div style="display: flex; justify-content: space-around;">
          <a href="#" class="btn btn-primary">Details</a>
          <a href="#" class="btn btn-warning" style="color: white;">Order Now</a></div>
        </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <img class="card-img-top" src=".../100px200/" alt="Image">
        <p class="card-text">Description</p>
        <p class="card-text"><small class="text-muted">Price</small></p>
        <p class="card-text"><small class="text-muted">Stock</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <img class="card-img-top" src=".../100px200/" alt="Image">
        <p class="card-text">Description</p>
        <p class="card-text"><small class="text-muted">Price</small></p>
        <p class="card-text"><small class="text-muted">Stock</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name</h5>
        <img class="card-img-top" src=".../100px200/" alt="Image">
        <p class="card-text">Description</p>
        <p class="card-text"><small class="text-muted">Price</small></p>
        <p class="card-text"><small class="text-muted">Stock</small></p>
      </div>
    </div>
  </div>
</div>