<app-header title="Products" subtitle="" button=""></app-header>
<div class="container" *ngIf="data">
  <div class="row">
    <div class="col-sm">
      <img src={{data.image}} alt="Demo">
    </div>
    <div class="col-sm">
      <b class="name">{{data.name}}</b>
      <p>Description: {{data.description}}</p>
      <b>Item Code: <a href="#" class="btn btn-warning code">Code: 152644038285</a></b>
      <p><b>Manufacturer: </b>{{data.manufacturer}}</p>
      <p><b>Category: </b><a href="#">{{data.category}}</a></p>
      <p><b>Available units in Stock: </b>{{data.quantity}}</p>
      <p>{{data.price}} USD</p>
      <a href="/products" class="btn btn-success"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
      <a href="#" class="btn btn-warning"><i class="fas fa-shopping-cart"></i>Order Now</a>
    </div>
  </div>
</div>