<app-header title="Cart" subtitle="All the selected products in your cart" button=""></app-header>
<div class="container">
  <a href="#" class="btn btn-danger"><i class="fas fa-times-circle"></i> Clear Cart</a>
  <a class="btn btn-success checkout"><i class="fas fa-shopping-cart"></i> Check out</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit price</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Iphone X</td>
        <td><input type="number" id="quantity" name="quantity" value="1"></td>
        <td>1099</td>
        <td>1099</td>
        <td><a href="#" class="btn btn-danger"><i class="fas fa-times"></i> Remove</a></td>
      </tr>
      <tr>
        <td>Iphone 8 Plus 64GB PRODUCT RED</td>
        <td><input type="number" id="quantity" name="quantity" value="1"></td>
        <td>1009</td>
        <td>1009</td>
        <td><a href="#" class="btn btn-danger"><i class="fas fa-times"></i> Remove</a></td>
      </tr>
      <tr>
        <td>Galaxy S8</td>
        <td><input type="number" id="quantity" name="quantity" value="1"></td>
        <td>699</td>
        <td>699</td>
        <td><a href="#" class="btn btn-danger"><i class="fas fa-times"></i> Remove</a></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><b>Grand Total</b></td>
        <td><b>2807</b></td>
      </tr>
    </tbody>
  </table>
  <a href="/products" class="btn btn-success"><i class="fas fa-arrow-alt-circle-left"></i> Continue shopping</a>
</div>