<app-header title="Products" subtitle="Add products" button="logout"></app-header>
<div class="container">
  <p>Add new product</p>
  <hr />
  <form>
    <!-- Product Name -->
    <div class="form-group row">
      <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="productName" placeholder="Product Name">
      </div>
    </div>

    <!-- Unit Price -->
    <div class="form-group row">
      <label for="unitPrice" class="col-sm-2 col-form-label">Unit Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="unitPrice" placeholder="Unit Price">
      </div>
    </div>

    <!-- Units in Stock -->
    <div class="form-group row">
      <label for="unitsInStock" class="col-sm-2 col-form-label">Units in Stock</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="unitsInStock" placeholder="Units in Stock">
      </div>
    </div>

    <!-- Description -->
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <textarea id="description" name="description" cols="128" rows="5"></textarea>
      </div>
    </div>

    <!-- Manufacturer -->
    <div class="form-group row">
      <label for="manufacturer" class="col-sm-2 col-form-label">Manufacturer</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="manufacturer" placeholder="Manufacturer">
      </div>
    </div>

    <!-- Category -->
    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="category" placeholder="Category">
      </div>
    </div>

    <!-- Condition -->
    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">Condition</label>
      <div class="col-sm-10">
        <input type="radio" id="new" name="condition" value="new" checked>
        <label for="new"> New</label><br />
        <input type="radio" id="old" name="condition" value="old">
        <label for="old"> Old</label><br />
        <input type="radio" id="refurbished" name="condition" value="refurbished">
        <label for="refurbished"> Refurbished</label><br />
      </div>
    </div>

    <!-- Product Image File -->
    <div class="form-group row">
      <label for="file" class="col-sm-2 col-form-label">Product Image File</label>
      <div class="col-sm-10">
        <input type="file" id="category">
      </div>
    </div>

    <button type="submit" class="btn btn-success">
      Add Product
    </button>
    <a href="/" class="btn btn-success home"><i class="fas fa-arrow-alt-circle-left"></i> Về trang chủ</a>
  </form>
</div>